{% extends "base.html" %}
{% block title %}ورود ادمین{% endblock %}
{% block content %}
<div class="flex justify-center">
    <div class="card w-full max-w-md bg-base-100 shadow-xl mt-16">
        <div class="card-body">
            <h1 class="card-title justify-center text-2xl mb-6">ورود به پنل مدیریت</h1>
            <form method="POST">
                <input type="password" name="password" placeholder="رمز پنل" required autofocus
                       class="input input-bordered w-full mb-4">
                <button type="submit" class="btn btn-primary w-full">
                    ورود
                </button>
            </form>
            <div class="mt-6 text-center">
                <a href="{{ url_for('index') }}" class="link link-hover">افزودن اکانت جدید</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}